<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Student Detail</h1>
    <ul>
        <li>이름: {{ student.name }}</li>
        <li>이메일: {{ student.email }}</li>
        <li>생일: {{ student.birth }}</li>
        <li>나이: {{ student.age }}</li>
    </ul>
    <a href="/students/">List</a>
    <a href="/students/{{ student.pk }}/edit/">Edit</a>
    <a href="/students/{{ student.pk }}/delete/">Delete</a>
</body>
</html>